language: python
group: travis_latest
dist: bionic
sudo: true

env:
    global:
        - python_command="python"
        - pip_command="python -m pip"
        - WINEDEBUG=fixme-all       # switch off wine fix me messages
        - CC_TEST_REPORTER_ID="a745068413ec369527ed6cf0aaabc344894fbad87231f5a7649ffb929c19e0ce"
        # pypi_password for lib_parameter
        # This works for sure - the Travis deploy is somehow buggy.
        # create the secret :
        # cd /<repository>
        # travis encrypt -r bitranox/lib_parameter pypi_password=*****
        # copy and paste the encrypted password in the project_conf.py
        # - secure: "none"

addons:
    apt:
        packages:
            - xvfb      # install xvfb virtual framebuffer - this we need for WINE
            - winbind   # needed for WINE

services:   # start services
  - xvfb    # is needed for WINE on headless installation


matrix:
    include:

    - os: windows
      language: sh
      name: "Windows Python 3.8"

      # oddly a secure password under env: global: causes that choco fails
      # so we need to put the option : filter_secrets: false
      # this can be a security issue, check that You dont leak secrets here !
      filter_secrets: false
      before_install:
          - git clone https://github.com/bitranox/lib_bash.git /usr/local/lib_bash
          - chmod -R 0755 /usr/local/lib_bash
          - chmod -R +x /usr/local/lib_bash/*.sh
          - /usr/local/lib_bash/lib_retry.sh retry choco install python3
          - export PATH="/c/Python38:/c/Python38/Scripts:$PATH"


    - os: linux
      language: python
      python: '3.6'

    - os: linux
      language: python
      python: '3.7'

    - os: linux
      language: python
      python: '3.8'
      before_install:
          - export mypy_static_typecheck="True"
          - export build_docs="True"
          - export deploy_on_pypi="True"

    - os: linux
      language: python
      python: '3.8-dev'


    - os: linux
      language: python
      python: 'pypy3'


    - os: osx
      language: sh
      name: "macOS 10.15.4"
      python: "3.8"
      osx_image: xcode11.5
      env:
        # on osx pip and python points to python 2.7 - therefore we have to use pip3 and python3 here
        - python_command="python3"
        - pip_command="python3 -m pip"




install:
    # install lib_bash_wine - this installs also lib_bash
    - $(command -v sudo 2>/dev/null) git clone https://github.com/bitranox/lib_bash_wine.git /usr/local/lib_bash_wine
    - $(command -v sudo 2>/dev/null) chmod -R 0755 /usr/local/lib_bash_wine
    - $(command -v sudo 2>/dev/null) chmod -R +x /usr/local/lib_bash_wine/*.sh
    - $(command -v sudo 2>/dev/null) /usr/local/lib_bash_wine/install_or_update.sh
    - export lib_bash_color="/usr/local/lib_bash/lib_color.sh"
    - export lib_bash_banner="/usr/local/lib_bash/lib_helpers.sh banner"
    - export lib_bash_banner_warning="/usr/local/lib_bash/lib_helpers.sh banner_warning"
    - export lib_bash_wine="/usr/local/lib_bash_wine"
    - ${lib_bash_banner} "upgrading pip"; ${CMDPREFIX} ${python_command} -m pip install --upgrade pip;
    - ${lib_bash_banner} "upgrading setuptools"; ${CMDPREFIX} ${python_command} -m pip install --upgrade setuptools;
    - ${lib_bash_banner} "upgrading wheel"; ${CMDPREFIX} ${python_command} -m pip install --upgrade wheel;

    - ${pip_command} install git+https://github.com/bitranox/lib_log_utils.git;
    - ${pip_command} install git+https://github.com/bitranox/rst_include.git;

    - if [[ ${CMDPREFIX} == "wine" ]]; then ${lib_bash_wine}/001_000_install_wine.sh ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ${lib_bash_wine}/002_000_install_wine_machine.sh ; fi
    - if [[ ${wine_python_version} == "python3" ]]; then ${lib_bash_wine}/003_000_install_wine_python3_preinstalled.sh ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ${lib_bash_wine}/004_000_install_wine_git_portable.sh ; fi
    - if [[ ${CMDPREFIX} == "wine" ]]; then ${lib_bash_wine}/005_000_install_wine_powershell_core.sh ; fi

    - if [[ ${build_docs} == "True" ]]; then
          ${lib_bash_banner} "install rst_include (Building Docs)";
          ${CMDPREFIX} ${pip_command} install git+https://github.com/bitranox/rst_include.git;
      fi

script:
    - if [[ -f ./setup.py ]]; then
          ${lib_bash_banner} "Updating pytest-pycodestyle for Python Versions >= 3.5";
          ${CMDPREFIX} ${pip_command} install --upgrade "pytest-pycodestyle; python_version >= \"3.5\"";

          ${lib_bash_banner} "running 'setup.py test' - this automatically installs and uninstalls test requirements";
          ${CMDPREFIX} ${python_command} ./setup.py test;
              if [[ $? -eq 0 ]]; then
                  ${lib_bash_banner} "setup.py test - OK";
              else
                  ${lib_bash_banner_warning} "setup.py test - FAILED";
                  exit 1;
              fi

          ${lib_bash_banner} "running pip install --upgrade git+https://github.com/bitranox/lib_programname.git";
          ${CMDPREFIX} ${pip_command} install --upgrade git+https://github.com/bitranox/lib_programname.git;
              if [[ $? -eq 0 ]]; then
                  ${lib_bash_banner} "pip install --upgrade git+https://github.com/bitranox/lib_programname.git - OK";
              else
                   ${lib_bash_banner_warning} "pip install --upgrade git+https://github.com/bitranox/lib_programname.git - FAILED";
                  exit 1;
              fi

          ${lib_bash_banner} "running pytest-codecov only";
          ${CMDPREFIX} ${pip_command} install --upgrade -r ./requirements_test.txt;
          ${CMDPREFIX} ${pip_command} install --upgrade codecov;
          ${CMDPREFIX} ${pip_command} install --upgrade pytest-cov;
          ${CMDPREFIX} ${python_command} -m pytest --cov=lib_programname;
              if [[ $? -eq 0 ]]; then
                  ${lib_bash_banner} "pytest - OK";
              else
                  ${lib_bash_banner_warning} "pytest - FAILED";
                  exit 1;
              fi

          if [[ ${mypy_static_typecheck} == "True" ]]; then
              ${lib_bash_banner} "running mypy static typechecks --strict";
              ${CMDPREFIX} ${python_command} -m mypy -p lib_programname --strict --no-warn-unused-ignores;
                  if [[ $? -eq 0 ]]; then
                      ${lib_bash_banner} "mypy static typechecks --strict OK";
                  else
                      ${lib_bash_banner_warning} "mypy static typechecks --strict FAILED";
                      exit 1;
                  fi
          else
              ${lib_bash_banner_warning} "static typechecking disabled on this build";
          fi
      else
          ${lib_bash_banner_warning} "no setup.py found, skipping pip install with --install-option test";
          ${lib_bash_banner_warning} "no setup.py found, skipping pip install";
          ${lib_bash_banner_warning} "no setup.py found, skipping install pytest requirements";
          ${lib_bash_banner_warning} "no setup.py found, skipping pytest";
          ${lib_bash_banner_warning} "no setup.py found, skipping static typechecking";
      fi

    # Check Commandline Registration
    - if [[ ! -z ${commandline_registration_check} ]]; then
          ${lib_bash_banner} "Testing Commandline Registration";
          bash -c "${commandline_registration_check}";
          if [[ $? -eq 0 ]]; then
              ${lib_bash_banner} "Commandline Registration - OK";
          else
              ${lib_bash_banner_warning} "Commandline Registration - FAILED";
              exit 1;
          fi
      else
          ${lib_bash_banner_warning} "Commandline Registration Check disabled on this build";
      fi

    # Bild Docs
    - if [[ -f build_docs.py ]] && [[ "${build_docs}" == "True" ]]; then
          ${lib_bash_banner} "Building Docs";
          ${CMDPREFIX} ${python_command} build_docs.py bitranox/lib_programname;
          if [[ $? -eq 0 ]]; then
              ${lib_bash_banner} "Building Docs OK";
          else
              ${lib_bash_banner_warning} "Building Docs FAILED";
              exit 1;
          fi
      else
          ${lib_bash_banner_warning} "Building Docs disabled on this build" ;
      fi

    # Check if Deployment would work on non-tagged builds
    - if [[ -f setup.py ]] && [[ -z ${TRAVIS_TAG} ]] && [[ -f build_docs.py ]] && [[ ${build_docs} == "True" ]]; then
          ${lib_bash_banner} "Testing PyPi Deployment";
          ${CMDPREFIX} ${pip_command} install readme_renderer > /dev/null 2>&1;
          ${CMDPREFIX} ${pip_command} install --upgrade twine > /dev/null 2>&1;
          ${CMDPREFIX} ${pip_command} install wheel > /dev/null 2>&1;
          ${CMDPREFIX} ${python_command} setup.py sdist bdist_wheel || ${lib_bash_banner_warning} "Building Wheels failed" 1>&2;
          ${CMDPREFIX} twine check dist/*;
              if [[ $? -eq 0 ]]; then
                  ${lib_bash_banner} "PyPi Deployment would be OK";
              else
                  ${lib_bash_banner_warning} "PyPi Deployment would fail";
                  exit 1;
              fi
      else
          ${lib_bash_banner_warning} "Check PyPi Deployment disabled on this build" ;
      fi

after_success:
    - ${CMDPREFIX} coverage report
    - ${CMDPREFIX} codecov
    # codeclimate coverage upload
    - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    - chmod +x ./cc-test-reporter
    - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

    # This works for sure - the Travis deploy is somehow buggy.
    # create the secret :
    # cd /<repository>
    # travis encrypt pypi_password=*****
    # copy and paste the encrypted password in the project_conf.py
    - if [[ ${deploy_on_pypi} == "True" ]] && [[ -n ${TRAVIS_TAG} ]]; then
          ${lib_bash_banner} "Deploy on PyPi";
          export travis_deploy="True";
          ${CMDPREFIX} ${pip_command} install readme_renderer;
          ${CMDPREFIX} ${pip_command} install --upgrade twine;
          ${CMDPREFIX} ${pip_command} install wheel;
          ${CMDPREFIX} ${python_command} setup.py sdist bdist_wheel;
          ${CMDPREFIX} twine check dist/*;
          ${CMDPREFIX} twine upload --repository-url https://upload.pypi.org/legacy/ -u bitranox -p ${pypi_password} dist/*;
      fi

notifications:
  email:
    recipients:
        - rnowotny@rotek.at
    on_success: never # default: change
    on_failure: always # default: always

